@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class=" col-md-12 ">
            <div class="card-header bg-primary text-white text-center">
                <h4 class="mb-0 text-center">Forgot Password Confirmation</h4>
            </div>

            <div class="card-body text-center">
                <p class="text-muted mb-4">
                    if the email address you provided is associated with an account,
                    we have sent an email with instruction to reset your password.
                </p>
                <p class="mb-4">
                    Please check your inbox for a password reset mail. If you don't see it,
                    check your span or juck folder , or <strong><a asp-controller="User" asp-action="ForgotPassword" class="text-primary" />Try Again</strong>
                </p>

            </div>

            <div class="card-footer text-center">
                <a asp-controller="User" asp-action="Login" class="btn btn-primary">Return to login</a>
            </div>
        </div>
    </div>
</div>