@{
    ViewData["Title"] = "Home Page";
}

@{
    if (TempData["Message"] != null)
    {
        <h1>Message : @TempData["Message"]</h1>
    }
}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-6">
            <form name="fr" action="/Home/SendMail">
                <div class="p-2">
                    <label for="to" class="form-label">To</label>
                </div>
                <div class="p-4">
                    <input type="email" name="to" class="form-control" />
                </div>
                <div class="p-2">
                    <label for="subject" class="form-label">Subject</label>
                </div>
                <div class="p-4">
                    <input type="text" name="subject" class="form-control" />
                </div>

                <div class="p-2">
                    <label for="message" class="form-label">Message</label>
                </div>
                <div class="p-4">
                    <textarea name="message" cols="20" rows="10" class="form-control"></textarea>
                </div>
                <div class="p-2">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>