@{
    ViewData["Title"] = "Home Page";
}
@{
    if(TempData["message"]!=null)
    {
        <h1>Message: @TempData["Message"]</h1>
    }
    if (TempData["CCMessage"] != null)
    {
        <h1>Message: @TempData["CCMessage"]</h1>
    }
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
