html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.regform{
    border-radius : 10px;
    border : 1px solid black;
}

.mylogin{

    border : 1px solid black;
    box-shadow : 0 0 10px black;
    border-radius : 10px;
}


/*Login Page Css */

body {
    background: linear-gradient(135deg,#eef2ff,#ffffff);
}

.card {
    transition: .3s;
}

    .card:hover {
        transform: translateY(-5px);
    }

.form-control {
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.min-vh-100 {
    min-height: 85vh;
}

/*------------------------------------------------------*/


/*Register*/

body {
    background: linear-gradient(135deg,#eef2ff,#ffffff);
}

.card {
    border-radius: 20px;
    transition: 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 40px rgba(0,0,0,.12);
    }

.form-control {
    border-radius: 10px;
    padding: 12px;
}

    .form-control:focus {
        box-shadow: 0 0 0 .2rem rgba(13,110,253,.15);
    }

.btn {
    border-radius: 10px;
    font-weight: 600;
}

.min-vh-100 {
    min-height: 85vh;
}

.myhead{
    color: green;
}